{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    <div class="d-flex justify-content-center">
        <img class="w-25 p-3" src="{{ user.getProfilePicture() }}" alt="">
    </div>
    <div class="register-form">

        <div class="d-flex justify-content-center">

            {{ form_start(form) }}

            <div>
                {{ form_row(form.forename, {'label': 'Prénom',
                    'attr': {'placeholder': 'Votre prénom...',
                        'class' : 'form-control',
                        'style' : 'width: 50vw; margin-bottom: 15px'
                    }}) }}
            </div>
            <div>
                {{ form_row(form.name, {'label': 'Nom',
                    'attr': {'placeholder': 'Votre nom...',
                        'class' : 'form-control',
                        'style' : 'width: 50vw; margin-bottom: 15px'
                    }}) }}
            </div>
            <div>
                {{ form_row(form.email, {'label': 'Adresse email',
                    'attr': {'placeholder': 'Adresse email...',
                        'class' : 'form-control',
                        'style' : 'width: 50vw; margin-bottom: 15px'
                    }}) }}
            </div>
            <div>
                {{ form_row(form.picture, {'label': 'Lien',
                    'attr': {'placeholder': 'URL de votre image',
                        'class' : 'form-control',
                        'style' : 'width: 50vw; margin-bottom: 15px'
                    }}) }}
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-lg btn-success">Valider</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>




{% endblock %}
