{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>


    <img class="w-25 p-3" src="{{ user.getProfilePicture() }}" alt="">

    <div class="register-form"></div>


    {{ form_start(form) }}

    {{ form_row(form.forename, {'label': 'Prénom', 'attr': {'placeholder': 'Votre prénom...'}}) }}
    {{ form_row(form.name, {'label': 'Nom', 'attr': {'placeholder': 'Votre nom...'}}) }}

    {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder': 'Adresse email...'}}) }}
    {{ form_row(form.picture, {'label': 'Lien', 'attr': {'placeholder': 'URL de votre image'}}) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}
    </div>


{% endblock %}
