{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-form "></div>
    <h1 class="d-flex justify-content-center">Page d'inscription</h1>
    <br>
    <div class="d-flex justify-content-center">
        {{ form_start(form) }}
        <div class="register-form " style="width: 50vw">
            {{ form_row(form.forename, {'label': 'Prénom',
                'attr': {'placeholder': 'Votre prénom...',
                    'class' : 'form-control',
                    'style' : 'width: 50vw'
                }
            }) }}
        </div>
        <br>
        <div>
            {{ form_row(form.name, {'label': 'Nom', 'attr': {'placeholder': 'Votre nom...',
                'class' : 'form-control',
                'required' : true
            }
            }) }}
        </div>
        <br>
        <div>
            {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder': 'Adresse email...',
                'class' : 'form-control',
                'required' : true
            }
            }) }}
        </div>
        <br>
        <div>
            {{ form_row(form.picture, {'label': 'Lien', 'attr': {'placeholder': 'URL de votre image',
                'class' : 'form-control',
                'required' : true
            }
            }) }}
        </div>
        <br>
        <div >
            {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe',
                'class' : 'form-control',
                'required' : true
            }
            }) }}
        </div>
        <br>
        <div>
            {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Répétez votre mot de passe',
                'class' : 'form-control',
                'required' : true
            }
            }) }}
        </div>
        <br>
        <div>
            <input type="checkbox" name="cgu_accept_ins" id="cgu"/><label for="cgu">J'accepte les <a href="#">Conditions Générales d'Utilisation</a></label>
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-success">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
    </div>


{% endblock %}

