{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    {# {{ encore_entry_link_tags('app') }} #}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Liste des commentaires</h1>
        <h2>{{ trick.name }}</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Auteur</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Date</th>
                <th scope="col">Suppression</th>

            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <th>{{ comment.user.email }}</th>
                    <th>{{ comment.content }}</th>
                    <th>{{ comment.createdAt | date ('d/m/Y') }}</th>

                    <th>
                        <a href="{{ path('delete_comment', {'id': comment.id}) }}"
                           onclick="return confirm('Êtes vous sur de vouloir supprimer ce commentaire ?');">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </th>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock %}
