{% extends 'base.html.twig' %}

{% block title %}Hello ShowController!{% endblock %}

{% block body %}

    <article>
        <h2>{{ trick.name }}</h2>
        <div class="metadata">Fiche créée le {{ trick.createdAt | date ('d/m/Y')}} à {{ trick.createdAt | date ('H:i')}}</div>
        <div class="metadata">Catégorie de la figue : nom de la catérogie </div>
        <div class="content">
            <img src="http://placehold.it/500x300" alt="">
            <p>{{ trick.description | raw}}</p>
        </div>

    </article>

    <section id="commentaires">
            <h2>Liste des commentaires</h2>
        {% for comment in trick.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        <p>Publié le
                            {{ comment.createdAt|date('d/m/Y H:i')}}
                            <br>
                            Par
                            {{ comment.user.email }}
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            {{ comment.content|raw }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <section>
            <h2>Laisser un commentaire</h2>
                <div class="comment">
                        <div class="row">
                            {{ form_start(formComment) }}
                                {{ form_row(formComment.content) }}
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            {{ form_end(formComment) }}

                    </div>
                </div>

            <div>

            </div>
        </section>
    {% endif %}

{% endblock %}
