{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle figure{% endblock %}

{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Création d'une figure !</h1>

    {{ form_start(formTrick) }}
        {{ form_row(formTrick.name, { 'label' : 'Nom',
            'attr': {'placeholder': "Nom de la figure"}}) }}
        {{ form_row(formTrick.description, {'label' : 'Description',
        'attr': {'placeholder' : "Description de la figure"}}) }}

    {{ form_row(formTrick.category, { 'label' : 'Catégorie',
    'attr': {'class' : 'form-control'}}) }}
    <button type="submit" class="btn btn-lg btn-success">Enregistrer</button>

    {{ form_end(formTrick) }}


{% endblock %}
