{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link rel=\"stylesheet\" href=\"/assets/css/style.css\">

{% endblock %}

{% block title %}Modification figure{% endblock %}

{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Modifier la figure !</h1>

    {{ form_start(formTrick) }}
    {{ form_row(formTrick.name, {'label' : 'Nom',
        'attr': {'placeholder': "Nom de la figure"}}) }}
    {{ form_row(formTrick.description, {'label': 'Description'}) }}
    {{ form_row(formTrick.category, { 'label' : 'Catégorie',
        'attr': {'class' : 'form-control'}}) }}

    <button type="submit" class="btn btn-lg btn-success">Enregistrer </button>

    {{ form_end(formTrick) }}
    <br>

    <h1>Gestion des medias</h1>

    <h5>Ajouter</h5>

    {{ form_start(formMedia) }}
    {{ form_row(formMedia.type, {'label' : 'Type de média',
    'attr' : {'class' : 'form-control'}}) }}
    <br>
    {{ form_row(formMedia.link, {'label' : 'Lien',
        'attr' : {'class' : 'form-control'}}) }}
    <br>
    <button type="submit" class="btn btn-lg btn-success">Enregistrer </button>


    {{ form_end(formMedia) }}
    <br>
    <h5>Supprimer</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Média</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>

            {% for media in trick.getMedias() %}
            <tr>
                <th>
                    {% if media.type == 'image' %}
                        <img width="300" src="{{ media.link }}" alt="image de la figure"> &nbsp;
                    {% else %}
                        <iframe width="300" src="{{ media.getEmbeddedUrlForVideo() }}"></iframe>
                    {% endif %}
                </th>
                <th>
                    <a href="{{ path('delete_media', {'id': media.id}) }}"
                       onclick="return confirm('Êtes vous sur de vouloir supprimer ce média ?');">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </th>
            </tr>
            {% endfor %}



        </tbody>
    </table>




{% endblock %}
