<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel=\"stylesheet\" href=\"/assets/css/style.css\">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvZPZ8i6ffdLzqB2EiQoPXkUD5quyMk3QWWQ&usqp=CAU.ico" />


    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>


            <div class="collapse navbar-collapse row justify-content-end" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item normalScreen">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item smallScreen">
                        <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i></a>
                    </li>


                    {% if app.user %}
                        <li class="nav-item normalScreen">
                            <a class="nav-link" href="{{ path('profile') }}">Mon profil</a>
                        </li>
                        <li class="nav-item smallScreen">
                            <a class="nav-link" href="{{ path('profile') }}"><i class="fas fa-user"></i></a>
                        </li>


                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item normalScreen">
                                <a class="nav-link" href="{{ path('admin_home') }}"> Administrer</a>
                            </li>
                            <li class="nav-item smallScreen">
                                <a class="nav-link" href="{{ path('admin_home') }}"><i class="fas fa-user-cog"></i></a>
                            </li>

                        {% endif %}
                        <li class="nav-item normalScreen">
                            <a class="nav-link" href="{{ path('app_logout') }}"> Me déconnecter</a>
                        </li>
                        <li class="nav-item smallScreen">
                            <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                        </li>

                    {% else %}
                        <li class="nav-item normalScreen">
                            <a class="nav-link" href="{{ path('app_login') }}"> Me connecter</a>
                        </li>
                        <li class="nav-item smallScreen">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        <li class="nav-item normalScreen">
                            <a class="nav-link" href="{{ path('security_registration') }}">Je m'inscris</a>
                        </li>
                        <li class="nav-item smallScreen">
                            <a class="nav-link" href="{{ path('security_registration') }}"><i class="fas fa-user-plus"></i></a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <br>
    <footer class=" text-light bg-primary d-flex justify-content-center">
        Copyright ©
        <br>
        Richard PETIT
    </footer>
    </body>
</html>
