{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
{#    {{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
    <div class="catchphrase">
        <p>Le wiki des Tricks de Snowboard !</p>
    </div>

<section class="tricks">
    <div class="container">
        <div class="row justify-content-around">
            {% for trick in tricks %}

                <div class="col-xs-7 col-sm-6 col-md-3">
                    <div class="card card-trick">

                        <img class="mini-picture" src="{{ trick.getMainImage() }}" alt="">
                        <div class="trick-content">
                            <a class="trick-name"href="{{ path('trick_show', {'slug': trick.slug}) }}">{{ trick.name }}</a>
                        </div>
                        <p>{{ trick.getDisplayCategory() }}</p>
                        <div class="metadata">Créée le {{ trick.createdAt | date ('d/m/Y')}} à {{ trick.createdAt | date ('H:i')}}</div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ include('components/pagination/pagination.html.twig') }}
        </div>

        <br>
    </div>

</section>

{% endblock %}
