{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="assets/styles/style.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
{#    {{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
    <div class="catchphrase">
        Le wiki des Tricks de Snowboard ! (phrase d'accroche)
    </div>


<section class="tricks">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-2">
                <div class="card">
                    <h2>Nom de la figure</h2>
                    <div class="content">
                        <img src="public/img/BWk4bXVB.jpg" alt="">
                        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
                        <p>
                            {#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
                            <i class="fas fa-pen"></i>
                            <i class="fas fa-trash-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h2>Nom de la figure</h2>
                    <div class="content">
                        <img src="http://placehold.it/150x100" alt="">
                        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
                        <p>
                            {#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
                            <i class="fas fa-pen"></i>
                            <i class="fas fa-trash-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h2>Nom de la figure</h2>
                    <div class="content">
                        <img src="http://placehold.it/150x100" alt="">
                        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
                        <p>
                            {#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
                            <i class="fas fa-pen"></i>
                            <i class="fas fa-trash-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h2>Nom de la figure</h2>
                    <div class="content">
                        <img src="http://placehold.it/150x100" alt="">
                        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
                        <p>
                            {#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
                            <i class="fas fa-pen"></i>
                            <i class="fas fa-trash-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h2>Nom de la figure</h2>
                    <div class="content">
                        <img src="http://placehold.it/150x100" alt="">
                        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
                        <p>
                            {#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
                            <i class="fas fa-pen"></i>
                            <i class="fas fa-trash-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock %}
