{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
{#    {{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
    <div class="catchphrase">
        <p>Le wiki des Tricks de Snowboard !</p>
    </div>

<section class="tricks">
    <div class="container">
        <div class="row justify-content-around">
            {% for trick in tricks %}

                <div class="col-2.5">
                    <div class="card card-trick">
                        <img class="mini-picture" src="/img/BWk4bXVB.jpg" alt="">
                        <div class="trick-content">
                            <a class="trick-name"href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.name }}</a>
                            <a href="{{ path('edit_trick', {'id': trick.id}) }}"><i class="fas fa-pen"></i></a>
                            <a href="{{ path('delete_trick', {'id': trick.id}) }}"
                               onclick="return confirm('Êtes vous sur de vouloir supprimer cet article ?');">
                               <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                        <div class="metadata">Créée le {{ trick.createdAt | date ('d/m/Y')}} à {{ trick.createdAt | date ('H:i')}}</div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ include('components/pagination/pagination.html.twig') }}
        </div>

        <br>
    </div>

</section>

{% endblock %}
