{% extends 'base_admin.html.twig' %}

{% block title %}Administration{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    {# {{ encore_entry_link_tags('app') }} #}
{% endblock %}

{% block body %}
    <h2 class="m-4">Administration des figures</h2>
    <p class="rouge"> je veux un fond rouge!!!!</p>

    <a href="{{ path('trick_create') }}">
        <button type="submit" class="btn btn-lg btn-success float-right">Nouvelle figure!</button>
    </a>
    <br><br><br>
    <section class="tricks">
        <div class="container">
            <div class="row justify-content-around">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la figure</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Commentaires</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for trick in tricks %}

                        <tr>
                            <td>
                                <a class="trick-name"
                                   href="{{ path('trick_show', {'slug': trick.slug}) }}">{{ trick.name }}</a>
                            </td>
                            <td>
                                <p> {{ trick.getDisplayCategory }} <p>
                            </td>
                            <td>
                                <a href="{{ path('comments_list', {'id': trick.id}) }}"> Voir les commentaires</a>
                            </td>
                            <td>
                                <a href="{{ path('edit_trick', {'id': trick.id}) }}" title="Éditer"><i class="fas fa-pen"></i></a>

                                <a href="{{ path('delete_trick', {'id': trick.id}) }}" title="Supprimer"
                                   onclick="return confirm('Êtes vous sur de vouloir supprimer cet article ?');">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="d-flex justify-content-center">
                {{ include('components/pagination/pagination.html.twig') }}
            </div>

            <br>
        </div>

    </section>

{% endblock %}
